@{
    ViewBag.Title = "Especialidades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

}

<link href="~/Content/card.css" rel="stylesheet" />

<div style="text-align:center;">
    <!-- Carousel -->
    <div class="col-md-12">
        <div class="contenedor">
            <div id="demo" class="carousel slide " data-bs-ride="carousel">

                <!-- imagenes del carousel -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/Imagenes/Banner model (1).png" class="d-block w-100">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--==================================Informacion de medicos====================================-->
    <section class="pb-5">
        <div class="row">
            <!--================Tarjeta 1====================-->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center text-black">
                                    <p><img class=" img-fluid" src="~/Imagenes/pediatra01.jpg" alt="card image"></p>
                                    <h4 class="texto">Dra. Rocio Romero </h4>
                                    <p class="card-text" style="color: black; font-family: 'Courier New',Courier New, Times, serif  ">Pediatra Neonatóloga Consultas SAN SALVADOR</p>
                                    @*<a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>*@
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Dra. Rocio Romero</h4>
                                    <p class="card-text">Es una doctora especialista en el área de pediatria </p>
                                    @* verificamos si la session a sio iniciada correctamente *@
                                    @if (Session["UsuarioLogueado"] != null && (bool)Session["UsuarioLogueado"])
                                    {
                                        <button type="button" class="btn-lg" data-bs-toggle="modal" data-bs-target="#myModal">Agendar cita</button>
                                    }
                                    else
                                    {
                                        <a id="login" href="@Url.Action("Login", "Login")" class="btn-lg" data-toggle="tooltip" data-placement="top" title="Haz clic para iniciar sesión y agendar una cita" style="color:white">Iniciar sesión</a>

                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--================Tarjeta 2====================-->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="~/Imagenes/pediatria03.png" alt="card image"></p>
                                    <h4 class="texto">Dra. Ivonne Chávez</h4>
                                    <p class="card-text" style="color: black; font-family: 'Courier New',Courier New, Times, serif  ">Cardióloga Pediátra Consultas en SAN SALVADOR </p>

                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Dra. Ivonne Chávez</h4>
                                    <p class="card-text">Con 25 años de esperiencia en el área de pediatria especialialista en primera infancia </p>
                                    @* verificamos si la session a sio iniciada correctamente *@
                                    @if (Session["UsuarioLogueado"] != null && (bool)Session["UsuarioLogueado"])
                                    {
                                        <button type="button" class="btn-lg" data-bs-toggle="modal" data-bs-target="#myModal">Agendar cita</button>
                                    }
                                    else
                                    {
                                        <a id="login" href="@Url.Action("Login", "Login")" class="btn-lg" data-toggle="tooltip" data-placement="top" title="Haz clic para iniciar sesión y agendar una cita" style="color:white">Iniciar sesión</a>

                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--================Tarjeta 3====================-->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="~/Imagenes/pedia003.jpg" alt="card image"></p>
                                    <h4 class="texto">Dr. Francisco Dardón</h4>
                                    <p class="card-text" style="color: black; font-family: 'Courier New',Courier New, Times, serif  "> Pediatra Neurólogo Consultas en SAN SALVADOR</p>
                                    @*<a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>*@
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Dr. Francisco Dardón</h4>
                                    <p class="card-text"></p>
                                    @* verificamos si la session a sio iniciada correctamente *@
                                    @if (Session["UsuarioLogueado"] != null && (bool)Session["UsuarioLogueado"])
                                    {
                                        <button type="button" class="btn-lg" data-bs-toggle="modal" data-bs-target="#myModal">Agendar cita</button>
                                    }
                                    else
                                    {
                                        <a id="login" href="@Url.Action("Login", "Login")" class="btn-lg" data-toggle="tooltip" data-placement="top" title="Haz clic para iniciar sesión y agendar una cita" style="color:white">Iniciar sesión</a>

                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>



<!-- Modal -->
<div class="modal fade" id="myModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="exampleModalLabel">Agendar cita</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!--Contenido del formulario de agendar cita-->
            <div class="modal-body bg-secondary" style="text-align: center">
                <div style="text-align: center">
                    <label style="font-family: Arial; color: white;" />
                    <b>Bienvenido/a</b>
                    <br>
                    <b>Seleccione entre las especialidades disponibles y agende una cita</b>
                </div>
                <form method="post" action="@Url.Action("CrearCita","MedicinaGeneral")">
                    <!--Seleccionar especialidad-->
<<<<<<< HEAD

=======
                    
>>>>>>> 5c1fc4a2da1ac5e2ad8100d5721f3e0b568aae17
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="IdEspecialidad" style="background-color: dodgerblue; color: white; font-weight: bold">Seleccione una especialidad</label>
                        <select class="form-select" id="IdEspecialidad" name="IdEspecialidad">
                            <option selected>Elegir...</option>
                            @* extraemos los adtos de la base de datos para mostrar  *@
                            @foreach (var list2 in ViewBag.Especialidades)
                            {
                                <option value="@list2.Value">@list2.Text</option>
                            }
                        </select>
                    </div>

                    <b>Seleccione el motivo de su consulta</b>
                    <br>
                    <!--Seleccionar motivo de consulta-->
                    @*<div class="inline-buttons">
                            <button type="button" class="btn btn-primary">Primera consulta</button>
                            <button type="button" class="btn btn-primary">Seguimiento</button>
                        </div>*@
                    <br>

                    <!--Seleccionar médico disponible-->
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="IdMedico" style="background-color: dodgerblue; color: white; font-weight: bold">Selecciona un médico</label>
                        <select class="form-select" id="IdMedico" name="IdMedico">
                            <option selected>Elegir...</option>
                            @* extraemos los adtos de la base de datos para mostrar  *@
                            @foreach (var list in ViewBag.Medicos)
                            {
                                <option value="@list.Value">@list.Text</option>
                            }
                        </select>
                    </div>
                    <!--Define la hora y fecha de atención -->
                    <b>Defina la hora y fecha de atención</b>
                    <br>
                    <!--Date picker-->
                    <div>
                        <div class="col-sm-12">
                            <label style="color:white; font-family:Arial; font-size:medium; text-align:center">Seleccione una fecha</label>
                            <input type="date" value="2023-01-01" class="form-control" name="Fecha">
                        </div>
                    </div>

                    <!--Dropdown para horarios-->
                    <div class="dropdown">
                        <label style="color:white; font-family:Arial; font-size:medium; text-align:center">Seleccione un horario de atención</label> <br>
                        <label class="input-group-text" for="Hora" style="background-color: dodgerblue; color: white; font-weight: bold">Selecciona un médico</label>
                        <select class="form-select" id="Hora" name="Hora">
                            <option selected>Elegir...</option>
                            @* extraemos los adtos de la base de datos para mostrar  *@
                            @foreach (var list3 in ViewBag.Horarios)
                            {
                                <option value="@list3.Value">@list3.Text</option>
                            }
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-outline-primary">Crear cita</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var myModal = $('#myModal');
        var btnAgendarCita = $('#btnAgendarCita');

        btnAgendarCita.click(function () {
            myModal.modal('show');
        });

        myModal.on('hidden.bs.modal', function () {
        });
    });

    $(document).ready(function () {
        var login = $('#login')
        login.Select(function () {
            login = $('[data-toggle="tooltip"]').tooltip();;
        });

    });
</script>